<!DOCTYPE html>
<html>
  <head>
    <title>React Redux Router Starter</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
     <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <p id="root"></p>
    <script type="text/javascript" charset="utf-8">
      window.__PRELOADED_STATE__ = "<%= JSON.stringify(preloadedState) %>";
    </script>
    <script src="/bundle.js"></script>
  </body>
</html>
