<!DOCTYPE html>
<html>
  <head>
    <title>Redux real-world example</title>
  </head>
  <body>
    <p id="root"><%- html %></p>
    <script type="text/javascript" charset="utf-8">
      window.__PRELOADED_STATE__ = '<%= preloadedState %>';
    </script>
    <script src="http://localhost:3001/static/bundle.js"></script>
  </body>
</html>